html, body {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: fit-content;
    margin: 0;
}

body, header, footer {
    display: flex;
    flex-direction: column;
}

body {
    justify-content: space-evenly;
}

header, footer {
    position: relative;
    justify-content: center;
}

header, footer, section {
    align-items: center;
    width: 100%;
    height: 40vh;
}

header {
    height: fit-content;
    top: 0;
}

footer {
    bottom: 0;
}

svg {
    z-index: -1;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}

header h1 {
    position: absolute;
    color:white;
    font-family: 'Roboto', sans-serif;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 80vh;
    padding: 0 15% 0 15%;
    box-sizing: border-box;
}

section div:nth-child(2) {
    text-align: right;
}

section h3 {
    color: lightseagreen;
}

footer {
    height: 20vh;
    color: white;
    background: darkblue;
}